.list {
    padding: 20px 8rem;
}

.list h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.list .row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}